body {
    background-image: url("/images/back.jpg");
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* White overlay with 50% opacity */
    z-index: -1; /* Keeps it behind content */
  }